.DS_Store
cb_2020_us_zcta520_500k/
dly-tmax-normal.txt
zipcodes-normals-stations.txt
noaa-readme.txt
*.png
*.svg
normals-daily/
normals-monthly/
*.csv
*.pdf
__pycache__/
tests/__pycache__/
census/
computed/
